.headline {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
    background: var(--main-color);
    padding: 20px 500px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    overflow: hidden;
    position: relative;
}
.headline .list-icon {
    width: calc(100% / 4 - 50px);
    position: relative;
}
.headline .list-icon img {
    width: 100px;
}
.headline .list-icon .image-hide {
    position: relative;
    top: -150px;
    transition: 0.5s;
}
.headline .list-icon:hover .image-hide {
    top: 0;
}
.headline .list-icon .image-show {
    position: absolute;
    top: 0;
    transition: 0.5s;
}
.headline .list-icon:hover .image-show {
    top: 200px;
}
