.checkout-page {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
}

.checkout-page .checkout-pay {
    width: calc(100% / 2 - 20px);
}

.checkout-page .checkout-pay input {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 40px;
    background: rgba(255, 0, 0, 0.219);
    border-radius: 10px;
    transition: 0.5s all;
    color: var(--text-color);
    font-size: 18px;
}

.checkout-page .checkout-pay input:hover {
    filter: brightness(1.2);
    box-shadow: 0 4px 20px 8px rgba(255, 0, 0, 0.4);
}

.checkout-page .checkout-pay .text-contact {
    display: block;
    width: 100%;
    color: var(--text-color);
    font-family: var(--font-2);
    font-weight: 400;
    font-size: 20px;

}

.checkout-page .checkout-pay .delivery {
    display: block;
    width: 100%;
    color: var(--text-color);
    font-family: var(--font-2);
    font-weight: 400;
    font-size: 20px;
    margin: 20px auto;
}

.checkout-page .checkout-pay .name {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.checkout-page .checkout-pay .name .input-checkout-left {
    width: 46%;
}
.checkout-page .checkout-pay .name .input-checkout-right {
    width: 50%;
}

.checkout-page .checkout-cart {
    width: calc(100% / 2 - 20px);
    padding: 20px;
}
.checkout-page .checkout-cart .checkout-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    color: var(--text-color);
    border: 1px dotted #f00;
    padding: 20px;
    border-radius: 20px;
}
.checkout-page .checkout-cart .checkout-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}
.checkout-page .checkout-cart .checkout-item h5 {
    font-family: var(--font-2);
    font-size: 14px;
    font-weight: 200;
}
.checkout-page .checkout-cart .checkout-item .price {
    color: #f00;
    font-weight: 700;
    font-size: 20px;
}
.checkout-page .checkout-cart .total {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--text-color);
}
.checkout-page .checkout-cart .total h5 {
    font-family: var(--font-2);
    font-size: 16px;
    font-weight: 600;
}
.checkout-page .checkout-cart .total p {
    color: #f00;
    font-weight: 700;
    font-size: 24px;
}

.discount {
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
    justify-content: space-between;
}
.discount button {
    background: var(--gra-color);
    padding: 10px 20px
}
.discount button:hover {
    background: var(--gra-color);
    filter: brightness(1.2);
    box-shadow: 0 4px 20px 8px rgba(255, 0, 0, 0.4);
}
.discount .mt-3 {
    background: none;
    border: none;
    color: var(--text-color);
    font-family: var(--font-2);
    font-weight: 400;
    font-size: 16px;
}
.modal-success-header {
    font-family: var(--font-2);
    font-weight: 700;
    color: #f00;
    text-align: center;
}
.modal-body h4 {
    color: #f00;
    font-family: var(--font-2);
    font-weight: 700;
}
.modal-body p {
    color: #333;
}
.checkout-button {
    background: var(--gra-color);
    font-weight: 500;
    font-family: var(--font-2);
    font-size: 20px;
    border: none;
    padding: 10px 30px;
    transition: 0.5s all;
    float: right;
}

.checkout-button:hover {
    background: var(--gra-color);
    filter: brightness(1.2);
    box-shadow: 0 4px 20px 8px rgba(255, 0, 0, 0.4);
}
